.header-bg-img {
  width: 100%;
  height: 500px;
}
.header-bg-logo {
  margin-top: -110px;
  width: 220px;
  height: 220px;
}
.header-logo {
  margin-top: -209px;
  width: 200px;
  height: 200px;
}
.logo-text-layout {
  width: 277px;
  height: 40px;
  top: 885px;
  left: 582px;
  margin-top: 40px;
}
.logo-text {
  font-family: Abel;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: bold;
}
.lorem-text-layout {
  width: 630px;
  height: 48px;
  top: 945px;
  left: 405px;
  margin-top: 20px;
}
.lorem-text {
  font-family: Abel;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
