.card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #ffffff;
}
.card-button {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #000000;
}

.card-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.card-number {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #000000;
}
.location-card-number {
  align-items: center;
  justify-content: center;
  display: flex;
  color: #000000;
  font-family: Abel;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}
.phone-icon {
  width: 42px;
  height: 42px;
}
.mail-icon {
  width: 42px;
  height: 42px;
}
.mail-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
.button {
  width: 50px;
  height: 50px;
  margin-top: -20px;
  border-radius: 50px;
  background-color: #ffffff;
  border-color: #ffffff;
}
@media  (max-width: 480px){
  .card {
    width: 250px;
    height: 166px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: -55px;
  }
  .phone-icon {
    width: 24px;
    height: 24px;
    top: 40px;
    left: 113px;
  }
  .card-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;    
  }
  .card-number {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;    
  }
  .location-card-number {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    
  }
  .mail-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
  .button {
    width: 34px;
    height: 34px;
    top: 1098px;
    left: 151px;
  }
  .icon{ 
    width: 21.76px;
    height: 21.76px;
    top: 1104.12px;
    left: 157.12px ; 
  }
}