
 
.product-logo {
    font-family: Abel;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 65px;
  }
  .col-width{
    width: 1000px;
  }
  .product-card {
    width: 296px;
    height: 380px;
    flex-shrink: 0;
    border-radius: 10px;
  background-color: #EDEDC4;
    margin: 5px;
    
  }
  .child-1 {
    width: 305px;
    height: 296px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    position: relative;
  }
  .button- {
    width: 50px;
    height: 50px;
    margin-top: -100px;
    border-radius: 50px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
   margin-left: 65px;
    position: absolute;
  }
  .fashion-layout {
    width: 44px;
    height: 16px;
    top: 1918px;
    left: 1186px;
    margin-left: 130px;
    margin-top: 30px;
  }
  .fashion-shirts-text {
    font-family: Abel;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .price-layout {
    width: 90px;
    height: 20px;
    margin-left: 110px;
    position: absolute;
  }
  .product-card-rs {
    color: #000000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin-top: -30px;
  }
  .rupee-icon {
    margin-left: -110px;
    margin-top: 10px;
   height: 30px;
  }
  
  @media (max-width: 320px){
    .product-logo {
      font-family: Kaushan Script;
      font-size: 23px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      margin-top: 30px;
    }
    .child-1 {
      width: 305px;
      height: 296px;
      top: 856px;
      left: 20px;
      border-radius: 10px, 10px, 0px, 0px;
    }
    .product-card-text {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
    }
    .product-card-rs{
      margin-left: -180px;
    }
    .product-btn{
      margin-top: -50px;
    }
    .rupee-icon {
      width: 24px;
      height: 24px;
      top: 1188px;
      left: 30px;
    }
    .rupee-icon{
      margin-left: -130px;
    }
    .product-card-rs {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
   
  }